body{
    margin: 0;
    font-family: Arial;
    background: #fafafa;
}

header{
    display: flex;
    justify-content: space-evenly;
    height: 77px;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    background: white;
}

.logo-header{
    border-right: 1px solid black;
    padding-right: 10px;
}

.text-header{
    padding-top: 4px;
    padding-left: 10px;
}


header ul{
    list-style: none;
    display: flex;
}

header li {
    margin: 15px;
}

header input{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background: #fafafa;
    width: 200px;
    height: 12px;
    -ms-input-placeholder { color: red; };
    color: red;
}

::-webkit-input-placeholder { /*Colocarlo color al texto del placeholder*/
    color: #999999;
}

.hero{
    display: flex;
    justify-content: center;
    margin: 0 187px 0 187px;
    padding: 60px 20px 0 20px;;
    background: #fafafa;;
    word-wrap: break-word; /*Evitar que el texto se salga del margen*/
}

.hero-left figure img{
    border-radius: 100px; 
    word-wrap: break-word;
}
.hero-top{
    display: flex;
    font-size: 28px;
    color: #545454;
    align-items: center;
    height: 40px;
}

.hero-top button{
    height: 30px;
    width: 94px;
    font-size: 14px;
    border-radius: 5px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
}

.hero-top button{
    margin-left: 20px;
}

.hero-top img{
    margin-left: 5px;
}

.hero ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.hero li{
    margin-right: 40px;
}

.hero-descripcion h1 {
    font-size: 16px;
    margin: 0;
}

.hero-descripcion p {
    margin-top: 5px;
}

.historias{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 920px;
    margin: 0 auto;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}

.historias img{
    border-radius: 50%;

}

.historias figure{
    text-align: center;
}

.historias-down ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.historias-down li{
    margin-right: 50px;;
}

.historias-down li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #a2a2a2;
    font-size: 12px;
}

.historias-down li .negra{
    color: black; 
    border-top: 1px solid black;
    padding-top: 18px;
}

.historias-down li a:hover{
    color:black;
    border-top: 1px solid black;
    padding-top: 18px;
}

.post{
    cursor: pointer;
    position: relative;
    display: block;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap:28px;
}

.post-image{
    margin: 0;
}

.post-image img{
    width: 100%;
    vertical-align: top; /*Esto es para quitarles un margen que les sale a todas las img cuando no se les pone margen*/
}

.post-overlay{
    background: rgba(0,0,0, .4);
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay { /* Cuando el cursor este sobre .post aparecera el .postoverlay*/
    display: flex;
}

.post-likes, .post-comments{
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width:768px){
    .post-list{
        grid-gap:3px;
    }
}

